.heading {
    box-shadow: 0px 0px 8px 2px grey;
}
.table-wrapper {
    box-shadow: 4px 2px 10px 0px grey;
    border-radius: 8px;
    overflow-x: auto;
}
.modalHeading {
    color: white;
}
.modalHeader {
    background: rgb(1, 118, 211);
}
.table-scrollable {
    width: 150rem;
}